{% extends "devices/iphone/base.html.twig" %}


{% block body %}
<h3 class="h4 text-center mb">Last updated apps</h3>
<hr />

<div class="row">
    {% for audioapp in audioapps %}
    <div class="col-12 mb-4">
        {{ include('main/include/audioapp.card.html.twig') }}
    </div>
    {% endfor %}
</div>

<div class="{% if is_mobile() %}pagination-mobile{% else %}pagination{% endif %} float-right">
      {{ knp_pagination_render(audioapps) }}
</div>



{% endblock %}