{% extends "devices/ipad/base.html.twig" %}


{% block pagetitle %}
{% endblock %}

{% block body %}

<div class="row">

    <div class="col-12">
        {{ include('devices/iphone/main/include/audioapp.html.twig') }}
    </div>
    
    
    <div class="col-12">
        {{ include('devices/iphone/main/include/menu.audioapp.html.twig') }}
    </div>

</div>
{% endblock %}